# Python `map()`, `filter()`, `reduce()`

* https://www.youtube.com/watch?v=e9Din93AAf4
* https://www.youtube.com/watch?v=cKlnR-CB3tk
* https://www.youtube.com/watch?v=kj850Y8y8FI
* https://www.youtube.com/watch?v=hUes6y2b--0   +1
* https://www.w3schools.com/python/ref_func_filter.asp

## 1. `filter()`
**Task:** suppose you want to get odd number from a list

In [42]:
numbers = [1,2,3,4,5,6,7,8,9]

### 1.1 Use for-loop and list compreshension

In [53]:
def is_odd(x):
    return x%2 == 1

new_numbers = []
for i in numbers:
    if is_odd(i):
        new_numbers.append(i)

new_numbers

[1, 3, 5, 7, 9]

In [48]:
# Use list comprehension
[i for i in numbers if is_odd(i)]

[1, 3, 5, 7, 9]

### 1.2 Use `filter()`
Now let's try `filter(func, iterable)`, it takes 2 arguments
* `func`: the function to execute for each entry in the iterable
* `iterable`: an iterable value, for example a sequence, collection or an iterator object

This function returns an **iterator**

In [50]:
list(filter(is_odd, numbers))

[1, 3, 5, 7, 9]

In [61]:
# Use lambda
list(filter(lambda x: x%2 == 1, numbers))

[1, 3, 5, 7, 9]

### 1.3 Comparision

In [54]:
%%timeit

def is_odd(x):
    return x%2 == 1

new_numbers = []
for i in numbers:
    if is_odd(i):
        new_numbers.append(i)

1.21 µs ± 7.22 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [55]:
%%timeit
# Use list comprehension
[i for i in numbers if is_odd(i)]

1.15 µs ± 84.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [56]:
%%timeit
filter(is_odd, numbers)

174 ns ± 11.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [57]:
%%timeit
list(filter(is_odd, numbers))

1.06 µs ± 20.8 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

## 2. `map()`
**Task:** suppose you want to double the value in a list.

In [15]:
numbers = [1,2,3,4,5,6,7,8,9]

### for-loop and list compreshension

In [35]:
# Use for-loop
def double(x):
    return x**2

new_numbers = []
for i in numbers:
    new_numbers.append(double(i))
    
print(new_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
# Use list comprehension
new_numbers = [double(i) for i in numbers]

print(new_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Use `map()`
Now let't try `map(func, iterable)`, it takes 2 arguments
* `func`: the function to execute for each entry in the iterable
* `iterable`: an iterable value, for example a sequence, collection or an iterator object

In [32]:
new_numbers = map(double, numbers)

type(new_numbers)

map

In [33]:
# Convert the result back to list
list(new_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
# with lambda function
list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Comparision

In [38]:
%%timeit
new_numbers = []

for i in numbers:
    new_numbers.append(double(i))

2.82 µs ± 29.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [39]:
%%timeit
new_numbers = [double(i) for i in numbers]

2.6 µs ± 39.2 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [40]:
%%timeit
new_numbers = map(double, numbers)

129 ns ± 2.27 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [41]:
%%timeit
new_numbers = list(map(double, numbers))

2.28 µs ± 23 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

map() has the faster

## 3. `reduce()`
**Task**: suppose now you want to add up all values in a list

In [62]:
numbers = [1,2,3,4,5,6,7,8,9]

In [63]:
total = 0
for num in numbers:
    total += num
print(total)

45

### 3.3 Use `reduce()`

In [64]:
from functools import reduce

def add(a, b):
    return a + b

reduce(add, numbers)

45

In [65]:
reduce(lambda a, b: a+b, numbers)

45

## 4. filter-map-reduce chain

In [68]:
numbers = [1,2,3,4,5,6,7,8,9]

odds = filter(lambda x: x%2 == 1, numbers)
transformed = map(lambda x: x**2, odds)
final_output = reduce(lambda a, b: a+b, transformed)

print(final_output)

165