* https://www.youtube.com/watch?v=ni9ng4Jy3Z8
* https://towardsdatascience.com/8-ways-to-filter-pandas-dataframes-d34ba585c1b8
* https://www.youtube.com/watch?v=2AFGPdNn4FM
* https://levelup.gitconnected.com/filtering-data-in-pandas-c7b60d1e1301
* https://python.plainenglish.io/pandas-query-dynamic-data-filtering-14633caa8cab
* https://sayahfares.medium.com/pandas-cookbook-all-that-you-need-to-start-working-with-pandas-1c9c2535a103

1. Boolean Mask (Logical operators)

df[df.val > 0.5]
df[(df.val > 0.5) & (df.val2 == 1)]

2. isin

names = ['John','Catlin','Mike']
df[df.name.isin(names)]

3. str

4. Tilde (~)

5. Query

6. Nlargest or nsmallest

7. Loc and iloc

8. notnull()