# Adding a new column with Pandas `assign()`

This is a Notebook for the medium article [How to flatten MultiIndex Columns and Rows in Pandas](https://bindichen.medium.com/how-to-flatten-multiindex-columns-and-rows-in-pandas-f5406c50e569)

Please read article for instructions. 

**License**: [BSD 2-Clause](https://opensource.org/licenses/BSD-2-Clause). Not for commercial use!!!

#### Version of packages used in this Notebook

In [11]:
import numpy as np
import pandas as pd

# Make sure your package version >= them
print('numpy: ', np.__version__)
print('pandas: ', pd.__version__)


# writting ref
# https://www.sharpsightlabs.com/blog/pandas-assign/
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html
# https://www.appsloveworld.com/pandas/100/25/what-is-the-difference-between-pandas-assign-function-and-apply-function

numpy:  1.21.5
pandas:  1.4.2

#### Contents
1. Basic syntax of `assign()`
2. Adding a new column
3. Adding multiple columns
4. Adding a column conditionally
5. Update existing Dataframe
6. Difference between `assign()` and `apply()`

## 1. Basic syntax of `assign()`

In [10]:
df = pd.DataFrame({
        'cost': [5,10,15,20],
        'price': [7,8,18,18],
        'items': [3,2,5,1]
    },
    index=['A', 'B', 'C']
)
df

   cost  price  items
A     5      7      1
B    10     15      2
C    15     16      3

In [5]:
df.assign(temp_f = lambda x: x.temp_c * 9 / 5 + 32)

   temp_c  temp_f
P      11    51.8
B      12    53.6

In [6]:
df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)

   temp_c  temp_f
P      11    51.8
B      12    53.6

In [7]:
# multiple columns
df.assign(
    temp_f = lambda x: x.temp_c * 9 / 5 + 32, 
    temp_k = lambda x:(x.temp_f + 459.67) * 5/9
)

   temp_c  temp_f  temp_k
P      11    51.8  284.15
B      12    53.6  285.15

In [ ]:
#