# Pandas merge

This is a notebook for the medium article [Pandas Merge() advanced](https://bindichen.medium.com/)

Please check out article for instructions

**License**: [BSD 2-Clause](https://opensource.org/licenses/BSD-2-Clause)

In [1]:
import pandas as pd

## 1. Cartesian product

reference
* https://realpython.com/pandas-merge-join-and-concat/#pandas-merge-combining-data-on-common-columns-or-indices
* 43

In [3]:
df_base = pd.read_excel('data/sp_data2.xlsx', '商品上架表')
df_detail = pd.read_excel('data/sp_data2.xlsx', '店流量表')

df_base['keys'] = 1
df_detail['keys'] = 1

def merge_groupby(left,right,condition,keys='keys'):
    return (
        pd.merge(left, right, how='left',on=keys)
            .query(condition)
            .groupby('商品').agg({'人数': 'mean'})
    )

res_before=merge_groupby(df_base, df_detail,'上架日期>日期')
res_after=merge_groupby(df_base, df_detail,'上架日期<=日期')

res_before.columns=['上架前平均店流量']
res_after.columns=['上架后平均店流量']

pd.concat([res_before,res_after],axis=1)

     上架前平均店流量   上架后平均店流量
商品
A   35.666667  86.000000
B   68.142857  82.285714
C   78.454545  63.333333