https://towardsdatascience.com/how-to-replace-values-in-pandas-609ba7a031c9
* replace
* where
* numpy select